body {
	background-color:skyblue;
	color: #555555;
	font: 17px Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0;
	}
    button {
        background-color: #DC143C;
        border: none;
        color:black;
        padding: 15px 65px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
      }
      img{
        display: inline-block;
      }
      li{
          list-style-position: center;
          color: blue;
          font-size: 20px;
      }
      ul{
          
          list-style:none;
      }
	h1 {
    color: blue;
	}
	
    * {text-align:center;}
